table{
    border-collapse: collapse;
    background-color: rgba(58, 61, 65, 0.6);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
    border-radius: 10px;
    margin: auto;

}

th,td{
    border: 1px solid #011064;
    
    padding: 8px 30px;
    text-align: center;
    color: rgb(252, 252, 252);

}
th{
    text-transform: uppercase;
    font-weight: 500;
}
td{
    font-size: 13px;
}