body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}


.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(img/image2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.nav ul li{
    display: inline-block;
    text-decoration: none;
    color: rgb(175, 30, 30);
    padding: 30px;
}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h4{
    color: rgb(43, 250, 105);
    font-size: 20px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
}
.content a{
    background: #3759f3;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 10px;
    border-radius: 20px;
}
.content a:hover{
    background: #4ca6eb;
    color: #fff;
}
@keyframes change{
    0%
    {
        background-image: url(img/image2.jpg);
    }
    20%
    {
        background-image: url(img/dog3.jpg);
    }
    40%
    {
        background-image: url(img/image3.jpg);
    }
    60%
    {
        background-image: url(img/cat.jpeg);
    }
    80%
    {
        background-image: url(img/cat.jpg);
    }
    100%
    {
        background-image: url(img/dog1.jpg);
    }

   
}